<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
>
    <!--metadata-complete="false"-->
    <!--默认为false，删除了也为false，为true就是不检查Servlet当中的注解-->

    <!--
        配置一个Servlet需要用到
            <servlet>
                servlet-name 自己写的Servlet的名字 可以随便写，但是要写的有意义
                servlet-class 自己写的Servlet的类的完全限定名，不能乱写，必须匹配上自己写的这个Servlet
            <servlet-mapping>
                servlet-name 与上面写的这个servlet-name必须匹配，也就是说成对出现
                url-pattern  是tomcat向外暴露的路径，可以随便写，但是需要在最左边加上一个/ 必须！
    -->

    <!--day42 MyServlet-->
    <!--<servlet>-->
    <!--<servlet-name>Day42-helloServlet</servlet-name>-->
    <!--<servlet-class>cn.ximcloud.itsource.day42_learning_servlet._01myfirstservlet.MyServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>Day42-helloServlet</servlet-name>-->
    <!--<url-pattern>/day42/hello</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--Day42 Welcome file List-->
    <!--<welcome-file-List>-->
    <!--<welcome-file>index.php</welcome-file>-->
    <!--<welcome-file>index.jsp</welcome-file>-->
    <!--<welcome-file>index.html</welcome-file>-->
    <!--<welcome-file>index.asp</welcome-file>-->
    <!--</welcome-file-List>-->
</web-app>